{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Francika</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">
     <integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="first">
        <div class="container"><h1>Francika</h1>
        <ul class="social">
            <li> <a href="https://facebook.com/franci.franci.988926"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li> <a href="https://instagram.com/franci_art_love?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
         <nav class="navbar navbar-expand-lg">
                  <ul class="navbar-nav ">
                      <li class="nav-item active">
                           <a class="nav-link" href="#gallary">Gallary</a>
                       </li>
                       <li class="nav-item">
                            <a class="nav-link" href="#portrait">Portrait</a>
                      </li>
                       <li class="nav-item">
                            <a class="nav-link" href="#mandala">Mandala Arts</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#canvas">Canvas paintings</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#bottle">Bottle Arts</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#order">order</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#insta">Follow</a>
                      </li>
                  </ul>
           </nav>
         </div>

      </div>
      <br>


      <div class="what_to_do container">
           <h2 class="text-center" id="order">What we do</h2>
           <div class="row container">
                <div class="col-4 col-md-4 col-lg-4 col-xl-4 text-center">
                    <i class="text-center fas fa-image"></i>
                    <h3>Photo</h3>
                    <p style="text-align:center;font-size:-4em;"> Send your photos/pics in our Insta id or Email </p>

                </div>
                <div class="col-4 col-md-4 col-lg-4 col-xl-4 text-center">
                   <i class="fas fa-paint-brush"></i>
                   <h3>Draw</h3>
                   <p style="text-align:center;"> We Draw the photos into portrait</p>
                   <div class="row">
                         <div class="col-12" text-center>
                           <button type="button"><a class="btn btn-info" href="#contact">Contact us</a></button>
                         </div>
                   </div>
                </div>
                <div class="col-4 col-md-4 col-lg-4 col-xl-4 text-center">
                    <i class="text-center fas fa-table"></i>
                    <h3>Frame</h3>
                    <p style="text-align:center;">And finally We frame your picture</p>
                </div>
            </div>
      </div>


      <div class="five">
          <h2 class="card text-center" id="gallary" style="background-color:Thistle;">Gallary</h2>
          <br>
          <div class="row container">
              {% for i in img %}
              <div class="col-2 col-md-1 col-lg-1 col-xl-1">
                  <a href="{{i.image.url}}"><img style="border-radius:150px;width:70px;" src="{{i.image.url}}" width="70" height="100"></a>
              </div>
                {% endfor %}
          </div>


          <div class="text-center container mt-5">
            {% if img.has_previous %}
            <a class="poppins-font p-2" href="?page={{img.previous_page_number}}"><i style="color:black;" class="far fa-hand-point-left"></i> previous</a>
            {% endif %}

                <a class="p-2 active-btn poppins-font text-dark" style="background-color:#fff600;">{{img.number}}</a>

            {% if img.has_next %}
            <a class="poppins-font p-2" style ="text-decoration:none;" href="?page={{img.next_page_number}}">next <i style="color:black;" class="far fa-hand-point-right"></i></a>
            {% endif %}
        </div>

          <br><hr>

          <div class="five">
          <h2 class="card text-center" style="background-color:Thistle;"  id="portrait">Portrait</h2>
          <br>
          <div class="row container">
              {% for i in portrait %}
              <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                    <br>
                  <a class="img-fluid" href="{{i.image.url}}"><img style="border-radius:150px;width:150px;" src="{{i.image.url}}" width="70" height="190"></a>
              </div>
              {% endfor %}
          </div>

              <img src="{{ test_model_instance.image.url }}" alt="{{ test_model_instance.image.name }}">
        <!--<div class="text-center container mt-5">-->
        <!--    {% if portrait.has_previous %}-->
        <!--    <a class="poppins-font p-2" href="?page={{portrait.previous_page_number}}">previous</a>-->
        <!--    {% endif %}-->

        <!--        <a class="p-2 active-btn poppins-font text-dark" style="background-color:#fff600;">{{portrait.number}}</a>-->

        <!--    {% if portrait.has_next %}-->
        <!--    <a class="poppins-font" href="?page={{portrait.next_page_number}}">next</a>-->
        <!--    {% endif %}-->
        <!--</div>-->

          <br><hr>

           <div class="five">
          <h2 class="card text-center" style="background-color:Thistle;"  id="canvas">Canvas paintings</h2>
          <br>
          <div class="row container">
              {% for i in canvas %}
              <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                    <br>
                  <a href="{{i.image.url}}"><img style="border-radius:150px;width:150px;" src="{{i.image.url}}" width="70" height="190"></a>
              </div>
                {% endfor %}
              </div>
          </div>
          <br><hr>

           <div class="five">
          <h2 class="card text-center" style="background-color:Thistle;"  id="bottle">Bottle Art</h2>
          <br>
          <div class="row container">
              {% for i in bottle %}
              <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                    <br>
                  <a href="{{i.image.url}}"><img style="border-radius:150px;width:150px;" src="{{i.image.url}}" width="70" height="190"></a>
              </div>
                {% endfor %}
              </div>
          </div>
          <br><hr>

          <div class="five">
          <h2 class="card text-center" style="background-color:Thistle;" id="mandala">Mandala Arts</h2>
          <br>
          <div class="row container">
              {% for i in mandala %}
              <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                    <br>
                  <a href="{{i.image.url}}"><img style="border-radius:150px;width:150px;" src="{{i.image.url}}" width="70" height="190"></a>
              </div>
                {% endfor %}
              </div>
          </div>
          <br><hr>

      </div>

      <div class="six">
        <div class="container text-center">
            <i class="fas fa-quote-left"></i>
            <p id="about">About</p>
        </div>
          {% for i in prof %}
        <div class="people row">
          <div class="col-12 col-md-4 col-lg-4 col-xl-4">
              <center>
              <img class="rounded-circle" style="width:270px" src="{{i.profile.url}}" alt="profile pic">
              </center>
              <h3 class="text-center">{{i.Name}}</h3>
              <p class="text-center" style="color:pink;">Art lover</p>
              <p class="text-center" style="text-align:center;font-family:sans-serif;">"I'm francika, I can sketch your photos into portraits & also do canvas painting, mandala art and bottle art."</p>
          </div>
        </div>
          {% endfor %}
      </div>

      <div class="letter text-center" id="contact">
        <h1 class="text-center">support us</h1>
        <p class="text-center">follow our instagram page</p>
        <div class="container">
           <div class="row">
                 <div class="col-12 text-center" id="insta">
                   <button type="button"><a href="https://instagram.com/franci_art_love?utm_medium=copy_link"><i class="fab fa-instagram"></i>insta</a></button>
                   <br><br>
                   <p style="color:PaleTurquoise;"><i class="fas fa-envelope-square"></i> francfrancika@gmail.com</p>
                 </div>
           </div>
        </div>
      </div>
      <footer>
          <p class="text-center">&copy; Francika.All Right Reserved</p>
      </footer>

      <script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
   </body>
 </html>


